@import url('https://fonts.googleapis.com/css2?family=Darumadrop+One&display=swap');

* {
    font-family: Roboto;
}

body {
    margin: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
font-family: 'Darumadrop One', cursive;
}

.fa-magnifying-glass {
    color: white;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10%;
}

.logo {
    width: 150px;
}

.logo-wrapper .text {
    font-size: 75px;
    font-family: 'Darumadrop One', cursive;
    color: #FFF;
}

.logo-wrapper h1 {
    color: white;
    font-family: 'Darumadrop One', cursive;
}

footer {
font-family: 'Darumadrop One', cursive;
    margin-top: auto;
    width: 93%;
    align-self: center;
    height: 80px;
    display: flex;
    justify-content: left;
    align-items: center;
}

footer a,
footer span {
    margin: 0 15px;
    text-decoration: none;
    color: #FFF;
    font-size: 15px;
font-family: 'Darumadrop One', cursive;
}

footer a {
    cursor: pointer;
font-family: 'Darumadrop One', cursive;
}

footer a:hover {
    text-decoration: underline;
font-family: 'Darumadrop One', cursive;
}

form {
    display: flex;
    justify-content: center;
}

.desc {
    display: flex;
    justify-content: center;
font-family: 'Darumadrop One', cursive;
}

.desc p {
    width: 560px;
    color: rgba(253, 253, 253, 0.514);
font-family: 'Darumadrop One', cursive;
}

form input {
    background: none;
    font-family: inherit;
    padding: 0px 17px;
    height: 48px;
    border: 1px solid rgb(255, 255, 255, .2);
    color: var(--text-color);
    border-radius: 3px;
    outline: none;
    width: 350px;
    margin-top: 5px;
    border-radius: 50px;
    color: #FFF;
font-family: 'Darumadrop One', cursive;
}

form input:focus {
    border: 1px solid rgba(253, 253, 253, 0.514);
    border-radius: 6px;
    animation: fadeInAnimation ease-in-out 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
font-family: 'Darumadrop One', cursive;
}